{
   "env": {
      "browser": true,
      "es6": true
   },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },
  "rules": {
    "semi": 1,

    "no-console": 1,
    "no-const-assign": 2,
    "no-debugger": 2,
    "no-var": 0
  }
}
